[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl
